<div>
  <h1>Categoria</h1>

  <div class="mt-5" >
     <form class="" [formGroup]="form">
       <div class="container category-form card flex">
         <div class="flex justify-content-center">
           <input formControlName="name" placeholder="Nome" type="text" pInputText/>
         </div>
         <div class="flex justify-content-center">
           <textarea formControlName="description" placeholder="Descrição" rows="5" cols="30" pInputTextarea ></textarea>
         </div>
       </div>
     </form>
     <div class="container buts mt-3">
       <a [routerLink]="['/category']" class="pi pi-arrow-left bt-edit" [matTooltip]="'Voltar'"></a>
       <a class="pi pi-check bt-edit" (click)="createOrUpdate()" [matTooltip]="'Salvar'"></a>
     </div>
  </div>
</div>
