<h1>Configuração - Edição</h1>
<div class="mt-5 content">
  <form class="form" [formGroup]="form">
    <div class="p-inputgroup">
      <p-password formControlName="currentPassword" placeholder="Digite sua senha para confirmar a ação" [feedback]="false" [toggleMask]="true"></p-password>
      <p-message *ngIf="form.get('currentPassword')?.hasError('required') && form.get('currentPassword')?.touched" severity="error" text="A senha atual é obrigatória!"></p-message>
    </div>
    <div  class="p-inputgroup" >
      <p-password formControlName="password" placeholder="Nova Senha" [toggleMask]="true"></p-password>
      <p-message *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" severity="error" text="A nova senha é obrigatória!"></p-message>
      <p-message *ngIf="form.get('password')?.hasError('senhasErradas')" severity="error" text="Dê um match na senha de confirmação!"></p-message>
    </div>
    <div class="p-inputgroup">
      <p-password formControlName="confirmPassword" placeholder="Confirmar Senha"  [toggleMask]="true"></p-password>
      <p-message *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched" severity="error" text="A confirmação da senha é obrigatória!"></p-message>
      <p-message *ngIf="form.get('confirmPassword')?.hasError('senhasErradas')" severity="error" text="Dê um match na nova senha!"></p-message>

    </div>
    <div class="buts">
      <a  [routerLink]="['/config/edit']" class="pi pi-arrow-left bt-edit" [matTooltip]="'Cancelar'"></a>
      <a  class="pi pi-check bt-edit"  (click)="update()"   [matTooltip]="'Atualizar'"></a>
    </div>
  </form>
</div>
